h1{
    color: #ffa511;
    font-size: 55px;
    text-decoration: teal double underline;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5px;
    font-family: league sparten;
    text-align: center;
    text-transform: uppercase;
}