div{
    height: 10rem;
    width: 10rem;
    background-color: red;
    text-align: center;
    border: 0.2rem solid black;
    margin: 1.4rem;
    display: inline-block;
}
#static{
    position: static;
    top: 5rem;
    left: 5rem;
}
#relative{
    position: relative;
    top: 5rem;
    left: 5rem;
}
#fixed{
    position: fixed;
    top: 5rem;
    left: 5rem;
}